.todo__header {
    text-align: center;
    color: rgb(185, 104, 72);
}

.todo__main {
    align-content: center;
}

.todo__main--input {
    display: block;
    margin: auto;
    width: 50%;
    height: 40px;
    border-radius: 10px;
}

.todo__main--button {
    display: block;
    margin: 10px auto;
    width: 30%;
    height: 40px;
    border-radius: 10px;
}

ul {
    padding-left: 0;
    align-content: center;
}

li {
    margin: 10px auto;
    list-style-type: none;
    width: 50%;
    height: auto;
    word-break: break-word;
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
}

.todo__clear {
    display: block;
    margin: auto;
    height: 30px;
    width: 10%;
    border-radius: 10px;
    border: solid 1px rgb(95, 94, 94);
}