  span {
    margin-top: 3px;
    color: rgb(185, 104, 72);
    float: right;
    font-size: 14px;
  }

  button {
    color: rgb(231, 71, 71);
    font-family: Arial;
    border: none;
    background-color: rgb(255, 217, 213);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    padding: 4px;
  }

  button:hover {
    cursor: pointer;
    background-color: rgb(223, 208, 208);
  }